/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pro-basicLayout {
  transform: rotate(0);
  transition: all 0.2s;
}
.ant-pro-basicLayout.ant-pro-basicLayout-fix-siderbar > section.ant-layout > section.ant-layout {
  height: 100vh;
}
.ant-pro-basicLayout .ant-layout-header.ant-pro-fixed-header {
  position: sticky;
  top: 0;
}
.ant-pro-basicLayout-content {
  position: relative;
  margin: 24px;
}
.ant-pro-basicLayout-content-disable-margin {
  margin: 0;
}
.ant-pro-basicLayout-content > .ant-layout {
  max-height: 100%;
}
.ant-pro-basicLayout .ant-pro-basicLayout-has-header .ant-pro-basicLayout-is-children.ant-pro-basicLayout-fix-siderbar section.ant-layout section.ant-layout {
  height: calc(100vh - 64px);
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pro-fixed-header {
  z-index: 9;
  width: 100%;
  transition: width 0.2s;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pro-global-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #23232e;
  box-shadow: 0 0.3px 0.9px rgba(0, 0, 0, 0.12), 0 1.6px 3.6px rgba(0, 0, 0, 0.12);
}
.ant-pro-global-header-logo {
  display: inline-block;
  height: 64px;
  padding: 0 0 0 24px;
  font-size: 20px;
  line-height: 64px;
  vertical-align: top;
  cursor: pointer;
}
.ant-pro-global-header-logo img {
  display: inline-block;
  width: 32px;
  vertical-align: middle;
}
.ant-pro-global-header-menu .anticon {
  margin-right: 8px;
}
.ant-pro-global-header-menu .ant-dropdown-menu-item {
  min-width: 160px;
}
.ant-pro-global-header-trigger {
  height: 64px;
  padding: calc((64px - 26px) / 2) 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}
.ant-pro-global-header-trigger:hover {
  background: #23232e;
}
.ant-pro-global-header .dark {
  height: 64px;
}
.ant-pro-global-header .dark .action {
  color: rgba(255, 255, 255, 0.85);
}
.ant-pro-global-header .dark .action > i {
  color: rgba(255, 255, 255, 0.85);
}
.ant-pro-global-header .dark .action:hover,
.ant-pro-global-header .dark .action.opened {
  background: #1890ff;
}
.ant-pro-global-header .dark .action .ant-badge {
  color: rgba(255, 255, 255, 0.85);
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pro-sider-menu {
  position: relative;
}
.ant-pro-sider-menu-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  cursor: pointer;
  transition: all 0.3s;
}
.ant-pro-sider-menu-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}
.ant-pro-sider-menu-logo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
}
.ant-pro-sider-menu-sider {
  position: relative;
  z-index: 10;
  min-height: 100%;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}
.ant-pro-sider-menu-sider.fix-sider-bar {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
}
.ant-pro-sider-menu-sider.fix-sider-bar > .ant-menu-root {
  height: calc(100vh - 64px);
  overflow-y: auto;
}
.ant-pro-sider-menu-sider.fix-sider-bar .ant-menu-inline {
  border-right: 0;
}
.ant-pro-sider-menu-sider.fix-sider-bar .ant-menu-inline .ant-menu-item,
.ant-pro-sider-menu-sider.fix-sider-bar .ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}
.ant-pro-sider-menu-sider.light {
  background-color: white;
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
}
.ant-pro-sider-menu-sider.light .ant-pro-sider-menu-logo {
  background-color: white;
}
.ant-pro-sider-menu-sider.light .ant-pro-sider-menu-logo h1 {
  color: #1890ff;
}
.ant-pro-sider-menu-sider.light .ant-menu-light {
  border-right-color: transparent;
}
.ant-pro-sider-menu-icon {
  width: 14px;
  vertical-align: baseline;
}
.ant-pro-sider-menu-links {
  position: absolute;
  bottom: 12px;
  width: 100%;
}
.ant-pro-sider-menu-links .ant-menu-root {
  height: auto;
}
.ant-pro-sider-menu .top-nav-menu li.ant-menu-item {
  height: 64px;
  line-height: 64px;
}
.ant-pro-sider-menu .drawer .drawer-content {
  background: #001529;
}
.ant-pro-sider-menu .ant-menu-inline-collapsed > .ant-menu-item .sider-menu-item-img + span,
.ant-pro-sider-menu .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .sider-menu-item-img + span,
.ant-pro-sider-menu .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .sider-menu-item-img + span {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}
.ant-pro-sider-menu .ant-menu-item .sider-menu-item-img + span,
.ant-pro-sider-menu .ant-menu-submenu-title .sider-menu-item-img + span {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-pro-sider-menu .ant-drawer-body {
  padding: 0;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pro-top-nav-header {
  position: relative;
  width: 100%;
  height: 64px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: background 0.3s, width 0.2s;
}
.ant-pro-top-nav-header .ant-menu-submenu.ant-menu-submenu-horizontal {
  height: 100%;
  line-height: 64px;
}
.ant-pro-top-nav-header .ant-menu-submenu.ant-menu-submenu-horizontal .ant-menu-submenu-title {
  height: 100%;
}
.ant-pro-top-nav-header.light {
  background-color: #23232e;
}
.ant-pro-top-nav-header.light h1 {
  color: #002140;
}
.ant-pro-top-nav-header-main {
  display: flex;
  height: 64px;
  padding-left: 24px;
}
.ant-pro-top-nav-header-main.wide {
  max-width: 1200px;
  margin: auto;
  padding-left: 0;
}
.ant-pro-top-nav-header-main .left {
  display: flex;
  flex: 1;
}
.ant-pro-top-nav-header-main .right {
  width: 324px;
}
.ant-pro-top-nav-header-logo {
  position: relative;
  width: 165px;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
}
.ant-pro-top-nav-header-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}
.ant-pro-top-nav-header-logo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  vertical-align: top;
}
.ant-pro-top-nav-header-menu .ant-menu.ant-menu-horizontal {
  height: 64px;
  line-height: 64px;
  border: none;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pro-global-footer {
  margin: 48px 0 24px 0;
  padding: 0 16px;
  text-align: center;
}
.ant-pro-global-footer-links {
  margin-bottom: 8px;
}
.ant-pro-global-footer-links a {
  color: rgba(255, 255, 255, 0.45);
  transition: all 0.3s;
}
.ant-pro-global-footer-links a:not(:last-child) {
  margin-right: 40px;
}
.ant-pro-global-footer-links a:hover {
  color: rgba(255, 255, 255, 0.65);
}
.ant-pro-global-footer-copyright {
  color: rgba(255, 255, 255, 0.45);
  font-size: 14px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pro-setting-drawer-content {
  position: relative;
  min-height: 100%;
  background: #23232e;
}
.ant-pro-setting-drawer-content .ant-list-item span {
  flex: 1;
}
.ant-pro-setting-drawer-block-checbox {
  display: flex;
  background: #23232e;
}
.ant-pro-setting-drawer-block-checbox-item {
  position: relative;
  margin-right: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.ant-pro-setting-drawer-block-checbox-item img {
  width: 48px;
}
.ant-pro-setting-drawer-block-checbox-selectIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-left: 24px;
  color: #1890ff;
  font-weight: bold;
  font-size: 14px;
}
.ant-pro-setting-drawer-block-checbox-selectIcon .action {
  color: #1890ff;
}
.ant-pro-setting-drawer-color_block {
  display: inline-block;
  width: 38px;
  height: 22px;
  margin: 4px;
  margin-right: 12px;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
}
.ant-pro-setting-drawer-title {
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  line-height: 22px;
}
.ant-pro-setting-drawer-handle {
  position: absolute;
  top: 240px;
  right: 300px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 16px;
  text-align: center;
  background: #1890ff;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  pointer-events: auto;
}
.ant-pro-setting-drawer-production-hint {
  margin-top: 16px;
  font-size: 12px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pro-setting-drawer-content {
  position: relative;
  min-height: 100%;
  background: #23232e;
}
.ant-pro-setting-drawer-content .ant-list-item span {
  flex: 1;
}
.ant-pro-setting-drawer-block-checbox {
  display: flex;
  background: #23232e;
}
.ant-pro-setting-drawer-block-checbox-item {
  position: relative;
  margin-right: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.ant-pro-setting-drawer-block-checbox-item img {
  width: 48px;
}
.ant-pro-setting-drawer-block-checbox-selectIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-left: 24px;
  color: #1890ff;
  font-weight: bold;
  font-size: 14px;
}
.ant-pro-setting-drawer-block-checbox-selectIcon .action {
  color: #1890ff;
}
.ant-pro-setting-drawer-color_block {
  display: inline-block;
  width: 38px;
  height: 22px;
  margin: 4px;
  margin-right: 12px;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
}
.ant-pro-setting-drawer-title {
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  line-height: 22px;
}
.ant-pro-setting-drawer-handle {
  position: absolute;
  top: 240px;
  right: 300px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 16px;
  text-align: center;
  background: #1890ff;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  pointer-events: auto;
}
.ant-pro-setting-drawer-production-hint {
  margin-top: 16px;
  font-size: 12px;
}
.ant-pro-setting-drawer-content .theme-color {
  margin-top: 24px;
  overflow: hidden;
}
.ant-pro-setting-drawer-content .theme-color .theme-color-title {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 22px;
}
.ant-pro-setting-drawer-content .theme-color .theme-color-block {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pro-grid-content {
  width: 100%;
  min-height: 100%;
  transition: 0.3s;
}
.ant-pro-grid-content.wide {
  max-width: 1200px;
  margin: 0 auto;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pro-page-header-wrap-children-content {
  margin: 24px 24px 0;
}
.ant-pro-page-header-wrap-page-header-warp {
  background-color: #23232e;
}
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-detail {
  display: flex;
}
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-row {
  display: flex;
  width: 100%;
}
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-title-content {
  margin-bottom: 16px;
}
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-title,
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-content {
  flex: auto;
}
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-extraContent,
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-main {
  flex: 0 1 auto;
}
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-main {
  width: 100%;
}
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-title {
  margin-bottom: 16px;
}
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-logo {
  margin-bottom: 16px;
}
.ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-extraContent {
  min-width: 242px;
  margin-left: 88px;
  text-align: right;
}
@media screen and (max-width: 1208px) {
  .ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-extraContent {
    margin-left: 44px;
  }
}
@media screen and (max-width: 1024px) {
  .ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-extraContent {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-row {
    display: block;
  }
  .ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-action,
  .ant-pro-page-header-wrap-main .ant-pro-page-header-wrap-extraContent {
    margin-left: 0;
    text-align: left;
  }
}
@media screen and (max-width: 767.9px) {
  .ant-pro-page-header-wrap-detail {
    display: block;
  }
  .ant-pro-page-header-wrap-extraContent {
    margin-left: 0;
  }
}


/*# sourceMappingURL=0.css.map*/